*.obj
computerscientist.obj
presentation.obj
vlnskilaverkefni.pdb
*.pro.user
*.exe
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
build-VLNSkilaverkefni-Desktop_Qt_5_5_1_MSVC2013_64bit-Debug
VLNSkilaverkefni.pro.user

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
